{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/40f7a5c3eb.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="'text/css" media="all"/>
    <title>Studenteo</title>
</head>

<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 text-secondary" onclick="document.location='{% url 'MainPageView' %}';">Strona główna</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Odkryj swój kierunek</a></li>
              <li><a href="#" class="nav-link px-2 text-white" onclick="document.location='{% url 'FieldListView' %}';">Lista kierunków</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Lista uczelni</a></li>
              <li><a href="#" class="nav-link px-2 text-white">O stronie</a></li>
            </ul>
    
            <div class="text-end">
                {% if user.is_authenticated %}
                    Hi {{ user.username }}!
                    <button type="button" class="btn btn-outline-light me-2" onclick="document.location='{% url 'logout' %}';">Log Out</button>
                {% else %}
                    <button type="button" class="btn btn-outline-light me-2" onclick="document.location='{% url 'login' %}';">Login</button>
                {% endif %}
            </div>
          </div>
        </div>
      </header>
    <div class="container my-3 mx-auto p-1 bg-light">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>