{% extends "base.html" %}
{% load tags %}
{% block content %}

<div class="jumbotron">
    <h2 class="display-4">Znajdź kierunek studiów</h2>
    <p class="lead">System pomoże wybrać ci najbardziej dopasowany kierunek studiów. 
        <ul>
            <li class="lead">Najpierw zostaniesz poproszony o wybranie stopnia studiów.</li> 
            <li class="lead">Potem w przypadku szukania studiów I stopnia będziesz mógł uzupełnić które przedmioty zdawałeś na maturze. </li>
            <li class="lead">Finalnie zostanie ci kilkukrotnie wyświetlone 10 różnych tematyk które możesz zaznaczyć jeżeli ci się podobają. Na ich podstawie otrzymasz kilka najbardziej dopasowanych kierunków studiów</li> 
        </ul>
    </p>
    <hr class="my-4">
</div>

<div class="container my-3">
    <form method="post">
        {% csrf_token %}
        <div class="container mx-auto p-3 bg-white rounded border" style="max-width: 650px;">
            <h4 class="text-center pb-2">Oceń jak ważne są dla ciebie poniższe kryteria.</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;"></div>
            </div>
            <br>
            {% for key, value in criteria.items %}
                <div class="form-row align-items-center mb-3">
                    <div class="col">
                        <label class="form-check-label fs-5 ms-2" for="{{ key }}">{{ value }}</label>
                        <input type="hidden" name="{{ key }}" value="0">
                    </div>
                    <div class="col">
                        {% for star in "012345" %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="{{ key }}_{{ star }}" name="{{ key }}" value="{{ star }}" {% if forloop.first %}checked{% endif %}>
                                <label class="form-check-label" for="{{ key }}_{{ star }}">{{ star }}</label>
                            </div>
                        {% endfor %}   
                    </div>
                </div>
            {% endfor %}
            <hr class="my-4">
            <button type="submit" class="btn btn-primary btn-lg d-block mx-auto w-75 my-1">Zapisz i przejdź dalej</button> 
        </div>
    </form>
    
    
    
    
    
    
</div>





    
{% endblock %}