{% extends "base.html" %}
{% load tags %}
{% block content %}

<div class="jumbotron">
    <h2 class="display-4">Znajdź kierunek studiów</h2>
    <p class="lead">System pomoże wybrać ci najbardziej dopasowany kierunek studiów. 
        <ul>
            <li class="lead">Najpierw zostaniesz poproszony o wybranie stopnia studiów.</li> 
            <li class="lead">Potem w przypadku szukania studiów I stopnia będziesz mógł uzupełnić które przedmioty zdawałeś na maturze. </li>
            <li class="lead">Finalnie zostanie ci kilkukrotnie wyświetlone 10 różnych tematyk które możesz zaznaczyć jeżeli ci się podobają. Na ich podstawie otrzymasz kilka najbardziej dopasowanych kierunków studiów</li> 
        </ul>
    </p>
    <hr class="my-4">
</div>

<div class="container my-3">
    <form method="post" onsubmit="return validateForm();">
        {% csrf_token %}
        <div class="container mx-auto p-3 bg-white rounded border" style="max-width: 650px;">
            <h4 class="text-center pb-2">Oceń jak ważne są dla ciebie poniższe kryteria.</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;"></div>
            </div>
            <br>
            {% for key, value in criteria.items %}
                <div class="form-row align-items-center mb-3" style="border: 1px solid #17a2b8; padding: 5px; border-radius: 4px;">
                    <div class="col text-center">
                        <label class="form-check-label fs-3 ms-2" for="{{ key }}" >{{ value }}</label>


                    </div>
                    <div class="col py-1 px-2 text-center">
                        Wcale &nbsp;  
                        {% for star in "012345" %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="{{ key }}_{{ star }}" name="{{ key }}" value="{{ star }}" {% if forloop.first %}checked{% endif %}>
                                <label class="form-check-label" for="{{ key }}_{{ star }}">{{ star }}</label>
                            </div>
                        {% endfor %}
                        Bardzo ważne
                    </div>
                </div>
            {% endfor %}
            <hr class="my-4">
            <button type="submit" class="btn btn-primary btn-lg d-block mx-auto w-75 my-1">Zapisz i przejdź dalej</button> 
        </div>
    </form>
</div>   

<script>
    function validateForm() {
        var criteria = {{ criteria|safe }};
        var valid = false;
        for (var key in criteria) {
            var rating = parseInt(document.querySelector('input[name="' + key + '"]:checked').value);
            if (!isNaN(rating) && rating > 0) {
                valid = true;
                break;
            }
        }
        if (!valid) {
            alert("Oceń przynajmniej jedno kryterium na więcej niż 0");
            return false;
        }
        return true;
    }
</script>


{% endblock %}