{% extends "discover_base.html" %}
{% block discover %}

    <form method="post">
        {% csrf_token %}
        <div class="container mx-auto p-3 bg-white rounded border" style="max-width: 650px;">
            <h4 class="text-center pb-2">Wybierz przedmioty zdawane na maturze (możesz pominąć).</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;"></div>
            </div>
            <br>
            {% for subject in subjects %}
              <div class="form-check d-flex align-items-center mb-3">
                  <input type="checkbox" class="form-check-input" id="{{ subject.id }}" name="subjects" value="{{ subject.id }}">
                  <label class="form-check-label fs-5 ms-2" for="{{ subject.id }}">{{ subject.subject }}</label>
              </div>
            {% endfor %}
            <hr class="my-4">
            <button type="submit" class="btn btn-primary btn-lg d-block mx-auto w-75 my-1">Zapisz i przejdź dalej</button> 
        </div>
    </form>

{% endblock %}