{% extends "base.html" %}
{% load tags %}
{% block content %}

<div class="jumbotron">
    <h2 class="display-4">Przeglądarka kierunków studiów</h2>
    <hr class="my-4">
</div>
<button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#filtersSection">Filtruj</button>
    
<div class="container mt-3 border border-secondary p-3 rounded bg-white collapse" id="filtersSection">
    <h3>Przefiltruj kierunki</h3>
    <form method="GET" action="{% url 'FieldListView' %}">
        <div class="row gx-2 mb-3 center-block">
            <div class="col">
                <div class="container border border-1 rounded">
                   <label for="{{ form.degree.id_for_label}}">{{ form.degree.label }}:</label> 
                {{ form.degree }} 
                </div>
                
            </div>
            <div class="col">
                <div class="container border border-1 rounded">
                    <label for="{{ form.study_mode.id_for_label}}">{{ form.study_mode.label }}:</label>
                    {{ form.study_mode }}
                </div>
                
            </div>
            <div class="col">
                <div class="container border border-1 rounded">
                   <label for="{{ form.language.id_for_label}}">{{ form.language.label }}:</label>
                    {{ form.language }} 
                </div>
                
            </div>
        </div>
        <div class="row border border-1 rounded">
            <label for="{{ form.city.id_for_label}}">{{ form.city.label }}:</label>
            <div class="col">
                {% for city in form.city %}
                    <div class="form-check">
                        {{ city }}
                        </label>
                    </div>
                    {% if forloop.counter|divisibleby:2 and not forloop.last %}</div><div class="col">{% endif %}
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="row border border-1 rounded">
            <label for="{{ form.university.id_for_label}}">{{ form.university.label }}:</label>
            <div class="col">
                {% for uni in form.university %}
                    <div class="form-check">
                        {{ uni }}
                        </label>
                    </div>
                    {% if forloop.counter|divisibleby:3 and not forloop.last %}</div><div class="col">{% endif %}
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="row border border-1 rounded">
            <label for="{{ form.subjects.id_for_label}}">{{ form.subjects.label }}:</label>
            <div class="col">
                {% for subject in form.subjects %}
                    <div class="form-check">
                        {{ subject }}
                        </label>
                    </div>
                    {% if forloop.counter|divisibleby:3 and not forloop.last %}</div><div class="col">{% endif %}
                {% endfor %}
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" name="another">Zastosuj</button>
    </form>  
</div>

<div class="container mt-3 border border-secondary p-3 rounded">
    {% for field in fields %}
        <div class="row jumbotron mb-3" data-bs-toggle="collapse" data-bs-target="#{{ field.id }}" aria-expanded="false">
            <div class="col-sm">
                <h5 class="bold"> {{field.name}}</h5>
            </div>
            <div class="col-sm">
                <h5>{{field.university.name}}</h5>
            </div>
            <div class="col-sm">
                <h5>
                  {% if field.degree == "Magister" %}
                    Studia II stopnia
                {% else %}
                    Studia I Stopnia ({{field.degree}})
                {% endif %}  
                </h5>
            </div>
            <div id="{{ field.id }}" class="collapse" data-parent="#container">
                <div class="container border border-info border-1 rounded p-3">
                    <div class="row p-1">
                        <div class="col-md-6 mb-3">
                            <div class="border border-primary bg-white rounded p-2">
                                <h5 class="mb-3">Informacje o uczelni:</h5>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Typ uczelni:</h6>
                                    </div>
                                    <div class="col-5">
                                        {{ field.id|return_type_of_given_uni }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Miasto studiowania:</h6>
                                    </div>
                                    <div class="col-5">
                                        {{ field.id|return_city_of_given_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Ranking uczelni:</h6>
                                    </div>
                                    <div class="col-5">
                                        <div class="mb-2">
                                            Ogólnie: {{ field.id|return_ranking_overall_of_given_uni }}
                                        </div>
                                        <div>
                                            W kategorii: {{ field.id|return_ranking_in_type_of_given_uni }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="border border-1 border-primary bg-white p-2 rounded">
                                <h5>Przedmioty wymagane do rekrutacji:</h5>
                                {% if field.id|return_subjects_with_alternatives_of_given_field == None %}
                                    Do rekrutacji można się zgłosić z dowolnym przedmiotem.
                                {% else %}
                                    <ul>
                                        {% for subject in field.id|return_subjects_with_alternatives_of_given_field %}
                                            <li>{{subject}} </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %} 
                            </div>    
                        </div>    
                    </div>
                    <p class='fw-light'>{{field.description}}</p>
                    <a class="btn btn-info" href='{{field.link_to_site}}'>Przejdź do strony kierunku</a>
                </div>
            </div>
            
        </div>
        <hr class="my-6">
    {% endfor %}
</div>
{% endblock %}