{% extends "base.html" %}
{% load tags %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Znajdź swój kierunek studiów</h1>
      <p class="col-md-8 fs-4">Odpowiedz na kilka pytań a system zasugeruje ci który kierunek studiów i na jakiej uczelni jest najlepiej do ciebie dopasowany.</p>
      <button class="btn btn-primary btn-lg" type="button" onclick="location.href='{% url 'DiscoverView' %}'">Znajdź kierunek</button>
    </div>
</div>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Sprawdź wszystkie kierunki</h2>
        <p>Przejrzyj wszystkie dostępne kierunki studiów. Z pomocą filtrów możesz sprawdzić który kierunek powinien ci odpowiadać.</p>
        <button class="btn btn-outline-light" type="button" onclick="location.href='{% url 'FieldListView' %}'">Przejrzyj kierunki</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Dowiedz się więcej.</h2>
        <p>Sprawdź więcej informacji o stronie i o samym projekcie.</p><br>
        <button class="btn btn-outline-secondary" type="button" onclick="location.href='{% url 'AboutView' %}'">O stronie</button>
      </div>
    </div>
</div>
{% endblock %}